<p>existing-game works!</p>
<table class="table">
        <thead>
            <tr>
                <th scope="col">Player 1</th>
                <th scope="col">Player 2</th>
                <th scope="col">GameId</th>
                <th scope="col">Status</th>
                <th scope="col">Join Game</th>
                <th scope="col">Game History</th>
            </tr>
        </thead>

    <tbody>
        <tr *ngFor="let game of userGames">
            <td>{{game.player1}}</td>
            <td>{{game.player2}}</td>
            <td>{{game.gameId}}</td>
            <td>{{game.status}}</td>
            <td><button [disabled]="game.disabled" type="button"
                        class="btn btn-primary btn-info" (click)="joinGame(game)">Join Game</button></td>
            <td></td>
        </tr>
    </tbody>
</table>
