<div
class="square float-left"
[class.playable]="space.playable"
[class.notplayable]="!space.playable"
[class.highlight]="space.highlight">
	<div *ngIf="space.piece"
    	(click)="checkerService.fetchLegalMoves(space)"
    	class="style=width: 100%; height: 100%">
    		<div *ngIf="space.piece.type ==='Pawn'">
	    		<pawn [pawn]="space.piece" (click)="highlightSpace()"></pawn>
    		</div>
    		<div *ngIf="space.piece.type ==='King'">
	    		<king [king]="space.piece"></king>
    		</div>
		</div>
		<div *ngIf="space.playable && !space.piece"
		style="width: 100%; height: 100%"
		(click)="checkerService.performMove(space)">
	</div>
</div>
