<div class="container">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome {{loggedInUser.userName}}! What would you like to do today?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button [disabled]="disableCreateNewGameButton" type="button"
                    class="btn btn-primary btn-lg" (click)="enableGameCreation()">Create New Game</button>
        </div>
    </div>
    <div class="row" style="height: 25px">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row" *ngIf="enablePlayerInvite">
        <div class="col-md-7">
            <label for="player2">Enter Player 2 email: </label>
            <input id="player2" type="text" name="player2" [(ngModel)]="player2"/>
            <button type="button" class="btn btn-primary btn-info" (click)="createNewGame()">Invite Player</button>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-info" (click)="cancel()">Cancel</button>
        </div>


    </div>
    <div class="row" style="height: 50px">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button [disabled]="disableCreateNewGameButton" type="button"
                    class="btn btn-primary btn-info" (click)="listExistingGames()">Game Room</button>
        </div>
    </div>
    <div class="row" style="height: 50px">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button [disabled]="disableCreateNewGameButton" type="button"
                    class="btn btn-primary btn-info" (click)="viewGamePlayStats()">View Game play statistics</button>
        </div>
    </div>
</div>
